.productCard {
  display: flex;
  flex-direction: column;
  padding : 0.7rem;
  margin:1rem;
  justify-content: space-between;
  border: 0.5px solid rgba(0,0,0,0.5);
  box-shadow: 4px 4px 6px 2px #999;
  border-radius: 18px;
  background-color: #ddd;
}
.productsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: 1rem;
}
.productCard button {
  width:60px;
  align-self: center;
  cursor: pointer;
}
.productCard h4 {
  margin-top:0.5rem;
  font-size: 1.35rem;
  align-self: center;
}
.productCard span {
  padding: 1rem;
  align-self: end;
}
.productCard p {
  text-align: justify;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cartWrapper {
  display: grid;
  grid-template-columns: 100%;
  margin: 1rem;
  justify-items: space-around;
}
.cartCard {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 1rem;
  border: 0.5px solid rgba(0,0,0,0.5);
  box-shadow: 2px 2px 4px 2px #999;
  border-radius: 10px;
  margin: 0.5rem;
  justify-self: center;
  width:90%;
  background-color: #ddd;
}
.cartCard button {
  cursor: pointer;
}
.cartCard * {
  margin: 0.5rem 2rem 0.5rem 1rem;
}
@media (max-width : 650px) {
  .productsWrapper {
    grid-template-columns: 100%;
  }
}
a {
  text-decoration: none;
  color: black;
  padding: 0.3rem 0.7rem;
  border: 0.5px solid rgba(0,0,0,0.25);
  border-radius: 11px;
  background-color: #eee;
}
a:hover {
  background-color: #ddd;
}